/* common styles  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
body{
  font-family: "Open Sans", sans-serif;
}
.colorful{
    color: #FD6E0A;
}
.btn-primary{
    background-color: #FD6E0A;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
    padding: 15px 35px;
}

/* header area styles */
header{
    background-color: #FFF8F3;
    background-image: url("images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}
nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 50px 170px 30px 220px;
}
.nav-title{
    font-size: 45px;
    color: #181818;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}


.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner-text{
    padding-left: 220px;
    width: 800px;
}
.banner-greetings{
    font-size: 45px;
    color: #474747;
}
.banner-title{
    font-size: 85px;
    color: #181818;
    font-weight: 800;
}
.banner-description{
    font-size: 18px;
    color: #757575;
    margin-bottom: 20px;
}

/* about area styles */
.about{
    padding: 130px;
    margin: 130px;
    background-color: #FFF8F3;
    text-align: center;
}
.section-title{
    color: #181818;
    font-size: 35px;
    margin-bottom: 30px;
}
.section-description{
    color: #757575;
    font-size: 18px;
}